link(rel="stylesheet", href="/style.css")
h1 Zahlenraten Deluxe
form.guessform(action="/", method="post")
    label(for="username")
    input(id="username" name="username" text="Dein Name" type="text")
    button(type="submit") Anmelden

